body{
	background:url("https://cdn.shutterstock.com/shutterstock/videos/3007039/thumb/1.jpg?i10c=img.resize(height:160)");
	background-size: cover;
	background-position: center center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color:white;
}
#header{
	margin-top:50px;
	font-family: 'Permanent Marker', cursive;
}
#length{
	display:block;
	margin-top:40px;
	font-weight:bold;
	font-family: 'Boogaloo', cursive;
}
#length1{
	float:left;
	margin-left:auto;
}
#length2{
	float:right;
	margin-right:auto;
}
button{
	color:black;
}
#clock{
	margin-top:180px;
	margin-left:auto;
	margin-right:auto;
	cursor:pointer;
	height:310px;
	width:350px;
	border-radius:10px;
	border:1px solid black;
	font-family: 'Boogaloo', cursive;
	-moz-box-shadow:    inset 0 0 12px white;
	-webkit-box-shadow: inset 0 0 12px white;
	box-shadow:         inset 0 0 12px white;
}
img{
   cursor:pointer;
}
@media screen and (max-width: 370px) {
	#clock{
		height:auto;
		width:auto;
	}
	img{
		height:30px;
		width:30px;
	}
}
